<h3>Account Creation</h3>
<form action = "/register"  id = "login-form" method = "post" >
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value = {{UserName}}><br><br>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" value = {{EMAIL}}><br><br>
        <label for="password">Password :</label>
        <input type="password" id="password" name="password" ><br><br>
        <label for="password2">Confirm Password :</label>
        <input type="password" id="password2" name="password2" ><br><br>
        <div>{{msg}}</div>  
        <input type="submit" value="Submit" id="pop">
      </form>
      
      <a href="/">Already have an account? Login here</a>